<h1>Certification Project</h1>

<h2 >link of Recomander System web App</h2>
<h3><a href="https://amanraj24-app-recommander-system-z3dy0d.streamlitapp.com/">https://amanraj24-app-recommander-system-z3dy0d.streamlitapp.com/</a></h3>
<h2>link of Github Repository</h2>
<h3><a href="https://github.com/Amanraj24/app">https://github.com/Amanraj24/app</a></h3>

In [1]:
import pandas as pd

In [2]:
import ipywidgets as widg
from IPython.display import display

In [3]:
!wget https://www.dropbox.com/s/yy6zxp5heep5hhx/movies.csv

--2022-08-21 23:21:27--  https://www.dropbox.com/s/yy6zxp5heep5hhx/movies.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/yy6zxp5heep5hhx/movies.csv [following]
--2022-08-21 23:21:28--  https://www.dropbox.com/s/raw/yy6zxp5heep5hhx/movies.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd8745ed088b802a52e082349c0.dl.dropboxusercontent.com/cd/0/inline/Brf_KqEWA9QP-qYCg23w7o4vtHykEkbb3YX-30wlaCPfFr-XZvkdY5PIf-PyE2Sx-zzv6VsSyjAzvxX8th5ifwnfj47niuju-a1KUyDzvTpB6gu6sLt6rawhu-zw_a6ilPKl0VwgCiBj2uZ-s4ZXpa6FoRaUEDo-x7IRWH4WTZm69Q/file# [following]
--2022-08-21 23:21:28--  https://ucd8745ed088b802a52e082349c0.dl.dropboxusercontent.com/cd/0/inline/Brf_KqEWA9QP-qYCg23w7o4vtHykEkbb3YX-30wlaCPfFr-XZvkdY5PIf-PyE2Sx-zzv6VsSyjAzvxX8th5ifwnfj47niuju-a1KUyDzvTpB6gu6sLt6rawhu-zw_a6ilPKl0VwgCiBj2uZ-s4ZXpa6FoRaUEDo-x7IRWH4WTZm69Q/file
Resolving ucd8745ed088b802a52e082349c0.dl.dropboxusercontent.com (ucd8745ed088b802a52e082349c0.dl.dropboxusercontent.com)... 162.125.2.15, 2620:100:6017:15::a27d:20f
Connecting to ucd8745ed088b802a52e082349c0.dl.dropboxusercontent.com (ucd8745ed088b802a52e082349c0.dl.dropboxusercontent.com)|162.125.2.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 515699 (504K) [text/plain]
Saving to: ‘movies.csv’

movies.csv          100%[===================>] 503.61K  --.-KB/s    in 0.04s

2022-08-21 23:21:29 (13.2 MB/s) - ‘movies.csv’ saved [515699/515699]

In [4]:
!wget https://www.dropbox.com/s/mzb5fdje98sqh3k/ratings.csv

--2022-08-21 23:21:29--  https://www.dropbox.com/s/mzb5fdje98sqh3k/ratings.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mzb5fdje98sqh3k/ratings.csv [following]
--2022-08-21 23:21:30--  https://www.dropbox.com/s/raw/mzb5fdje98sqh3k/ratings.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc74a9d1a9abff37e4ef9a54e5a6.dl.dropboxusercontent.com/cd/0/inline/BrcHj8FmlzAopVlHL7nVBbkYtmzl2UELPH5oK8ZFm9NoZegArgtNt1ZO9KKyLlxrUxGRmjpvFGhQQZ1Fd6UY1YNPSnnyUuEYCGG20PRHqE1JQ9eSYaW5MbKfEd4NVftfwkidT3Y9_YyrTSoBdqe2wqQm31kkSdjQkh2QIKiD_MDxGA/file# [following]
--2022-08-21 23:21:30--  https://uc74a9d1a9abff37e4ef9a54e5a6.dl.dropboxusercontent.com/cd/0/inline/BrcHj8FmlzAopVlHL7nVBbkYtmzl2UELPH5oK8ZFm9NoZegArgtNt1ZO9KKyLlxrUxGRmjpvFGhQQZ1Fd6UY1YNPSnnyUuEYCGG20PRHqE1JQ9eSYaW5MbKfEd4NVftfwkidT3Y9_YyrTSoBdqe2wqQm31kkSdjQkh2QIKiD_MDxGA/file
Resolving uc74a9d1a9abff37e4ef9a54e5a6.dl.dropboxusercontent.com (uc74a9d1a9abff37e4ef9a54e5a6.dl.dropboxusercontent.com)... 162.125.65.15, 2620:100:6017:15::a27d:20f
Connecting to uc74a9d1a9abff37e4ef9a54e5a6.dl.dropboxusercontent.com (uc74a9d1a9abff37e4ef9a54e5a6.dl.dropboxusercontent.com)|162.125.65.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2475052 (2.4M) [text/plain]
Saving to: ‘ratings.csv’

ratings.csv         100%[===================>]   2.36M  2.29MB/s    in 1.0s

2022-08-21 23:21:32 (2.29 MB/s) - ‘ratings.csv’ saved [2475052/2475052]

In [68]:
movies=pd.read_csv("movies.csv")
ratings=pd.read_csv("ratings.csv")

In [69]:
merged_left = pd.merge(left=movies, right=ratings, how='left', left_on='movieId', right_on='movieId')

<h1>Popularity-Based Recommender System</h1>

In [70]:
#ipywidgets.Text() not working in colab so inputs are simply taken by input()
ge=input("Genre(g):")
th=int(input("Minimum reviews threshold(t):"))
re=int(input("Num recommendations (N) :"))

Genre(g):Comedy
Minimum reviews threshold(t):100
Num recommendations (N) :5

In [71]:
out=merged_left[merged_left["genres"]==ge ].sort_values(by=["genres","rating","userId"], ascending=False)

In [72]:
out=out[out["userId"]>=int(th)]
out["Num Reviews"]=out.userId.astype("int")
out["Movie Title"]=out.title
out["Average Movie Rating"]=out.rating.astype("float")
out=out.reset_index(drop=True)
final=out[["Movie Title","Average Movie Rating","Num Reviews"]].head(re)

In [73]:
final

              Movie Title  Average Movie Rating  Num Reviews
0           Clerks (1994)                   5.0          666
1  Raising Arizona (1987)                   5.0          666
2        Jerk, The (1979)                   5.0          666
3         Election (1999)                   5.0          666
4          Blended (2014)                   5.0          664

<h1>Content-Based Recommender System</h1>

In [74]:
#ipywidgets.Text() not working in colab so inputs are simply taken by input()
mv=input("Movie Title (t): ")
rec=int(input("Num recommendations (N):"))

Movie Title (t): Blended
Num recommendations (N):5

In [75]:
for i in range(0,len(movies)):
  Str = movies["title"][i]
  l = len(Str)
  Remove_last = Str[:l-7]
  movies["title"][i]=Remove_last

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [76]:
n_movies=movies

In [77]:
movie=n_movies[n_movies["title"]==mv]

In [78]:
id=movie["movieId"].tolist()
id=id[0]

In [79]:
genre=merged_left[merged_left["movieId"]==id]["genres"]

In [80]:
genre=genre.unique()

In [81]:
ge=genre.tolist()[0]

In [82]:
out2=merged_left[merged_left["genres"]==ge ].sort_values(by=["genres","rating","userId"], ascending=False)

In [83]:
out3=out2.reset_index(drop=True)

In [84]:
out3["Movie Title"]=out3["title"]
out3=out3["Movie Title"].head(rec)

In [85]:
out3=pd.DataFrame(out3)
out3

              Movie Title
0           Clerks (1994)
1  Raising Arizona (1987)
2        Jerk, The (1979)
3         Election (1999)
4          Blended (2014)

<h1>Collaborative Based Recommender System</h1>

In [86]:
#ipywidgets.Text() not working in colab so inputs are simply taken by input()
usr=int(input("UserID:"))
rec=int(input("Num recommendations(N):"))
thr=int(input("Threshold for similar users (k):"))

UserID:1
Num recommendations(N):5
Threshold for similar users (k):100

In [87]:
usr_mv=merged_left[merged_left["userId"]==usr][["title","userId"]]

In [88]:
a=usr_mv.title.tolist()
diff_usr=merged_left[merged_left["title"]==a[0]]
for i in range(1,len(a)):
  diff_usr=diff_usr.append(merged_left[merged_left["title"]==a[i]])

In [89]:
diff_usr=diff_usr["userId"].unique()

In [90]:
diff_usr=diff_usr.tolist()

In [91]:
diff_usr=diff_usr[:thr]
sg_mv=merged_left[merged_left["userId"]==diff_usr[0]]
for i in range(1,len(diff_usr)):
  sg_mv=sg_mv.append(merged_left[merged_left["userId"]==diff_usr[i]])

In [92]:
sg_mv=sg_mv.reset_index(drop=True)

In [93]:
sg_mv=sg_mv["title"].unique()

In [94]:
sg_mv=pd.DataFrame(sg_mv,columns=["Movie Title"])

In [97]:
sg_mv.head(rec)

                                 Movie Title
0                              Casino (1995)
1                              Powder (1995)
2  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
3                Seven (a.k.a. Se7en) (1995)
4                 Usual Suspects, The (1995)